@import "compass/css3";
@import "animations";

$vivint-orange: #FF8200;

* {
  -webkit-box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  height: 100%;
  overflow: hidden;
}

button {
  display: block;
}

.full-height {
  height: 100%;
  position: relative;
}

div.header {
  background-color: $vivint-orange;
  font-size: 28px;
  color: white;
  padding: 10px;
  font-weight: bold;
  z-index: 2;
  position: relative;
  @include transition(background-color $transition-time);
}

.column {
  display: inline-block;
}

li {
  cursor: pointer;
}

.left {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 250px;
  height: 100%;
  background-color: #eee;
  border-right: 1px solid #ddd;
}

.right {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-left: 250px;
  z-index: 0;
  .container {
    padding: 20px;
  }
}

.pink {
//  background: pink;
}

.items {
  li {
    padding: 0 20px;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #ddd;
    &:hover, &.active {
      background-color: white;
    }
  }
}

.devices {
  li {
    height: 100px;
    width: 200px;
    background-color: $vivint-orange;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 20px;
    display: inline-block;
    margin-right: 5px;
  }
}

.example-block {
  position: relative;
  display: inline-block;
  img {
    height: 200px;
  }
  h1 {
    margin: 0;
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
}

.compliment {
  background-color: #803d5c !important;
}