<div class="full-height">
    <div class="column left">
        <ul class="items">
            <li ng-click="toggleVariable('ngif')">ng-if</li>
            <li ng-click="toggleVariable('nginclude')">ng-include</li>
            <li ng-click="toggleVariable('ngshow')">ng-show</li>
        </ul>
    </div>
    <div class="column right">
        <div class="container">
            <!-- ng-if -->
            <div ng-if="ngif" class="example-block fade-in-out">
                <img src="img/plainDoge.jpg">
                <h1>ng-if</h1>
            </div>

            <!-- ng-include -->
            <div ng-include="nginclude" class="slide-and-fade-right"></div>

            <!-- ng-show -->
            <div ng-show="ngshow" class="example-block fade-show">
                <img src="img/plainDoge.jpg">
                <h1>ng-show</h1>
            </div>
        </div>
    </div>

</div>