<div class="full-height">
    <div class="column left">
        <ul class="items">
            <li ng-repeat="system in Authenticate.systems" ng-class="{'active': system.system_id === activeHome}">
                {{System.systems[system.system_id].name}}
            </li>
        </ul>
    </div>
    <div class="column right">
        <div class="container">
            <h1>Welcome {{Authenticate.name}}!</h1>
            <ul class="devices">
                <li ng-repeat="device in Devices.devices[activeHome]">
                    {{device.name}}
                </li>
            </ul>
        </div>
    </div>

</div>